.Navbar{
    height: 60px;

    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #03a9f4;
    opacity: 0.8;
    /* background: linear-gradient(315deg,#03a9f4,#ff0058); */
}
.Navbar > .logo{
    font-weight: 800;
    font-size: 1.6rem;
    background: transparent;
    margin:1rem;
    color: #ffffff;
}
.Navbar > .navitems > a{
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    opacity: 0.9;
  
}
.Navbar > .navitems > a:hover{
    opacity: 1;

}

.Navbar>.navitems > a::before{
content:"";
position:absolute;
left: 0;
bottom: 0;
width: 0;
height: 3px;
background: #ffffff;
transition: all .45s;
}

.Navbar>.navitems >a:hover::before{
    width:100%;
}
.Navbar > .navitems > .button{
    margin: 1rem;
    background-color:#f403a9;
    border: 0px solid white;  
    color:#ffffff;
    font-weight: 500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    
}
.Navbar > .navitems > .button:hover{
    border: 2px solid white;  
}
.Navbar > .nav-toggle{
    display: none;
}

@media(max-width:700px) {
    .Navbar > .navitems{
        position: absolute;
         top:60px; 
        display: flex;
        flex-direction: column;
        background: #0081cc;
        left:0;
        width:100%;
        align-items: center;
        transform: translateX(-100%);
        transition: all .45s ;
    }
    .Navbar > .navitems > a::before { 
        background: transparent;
    }
   
    .Navbar > .navitems.open{
transform: translateX(0);
    }
    .Navbar > .nav-toggle{
        display: flex;
width:50px;
height: 50px;
justify-content: center;
align-items: center;
cursor: pointer;
    }
 .nav-toggle > .bar {
position: relative;
width: 32px;
height: 2px;
background: #ffffff;
transition: all .45s ease-in-out;
    }

   
    .nav-toggle > .bar::before , .nav-toggle > .bar::after {
        content:"";
        position: absolute;
        height:2px;
        background:#ffffff;
       border-radius: 2px;
       transition: all .45s ease-in-out;
    }
    .nav-toggle > .bar::before {
        width: 30px;
        transform: translateY(-8px);
  right:0;
    }
    .nav-toggle > .bar::after {
     
        transform: translateY(8px);
  right:0;
  width: 32px;
    }



            }
            